<!DOCTYPE html>

<html>
    <head>
        <title>What Goes</title>
        <link rel="stylesheet" type="text/css" href="/css/theme.css"/>
        
    </head>
    
    <body>
        
        <div class = "banner">
            <div id = "head">
                <a href="/"><img id="logo" src="/new_images/logo.png"/></a>
                <div id="topbox"><span id = "welcome">Welcome!...</span></div>
                <div id = "topbox2">
                    <div id="about_box">
                        <a href="/about">
                            <img id = "about_img" src = "/new_images/quote.png">
                            <span id = "about_text">About</span>
                        </a>
                    </div>
                    <div id="contact_box">
                        <a href="/contact">
                            <img id = "contact_img" src = "/new_images/phone.png">
                            <span id = "contact_text">Contact</span>
                        </a>
                    </div>
                    <div id="signup_box">
                        <a href="/signup">
                            <img id = "signup_img" src = "/new_images/pencil.png">
                            <span id = "signup_text">Sign up</span>
                        </a>
                    </div>
                </div>
                <div class="headDivHelper"></div>
            </div>
        <div class = "main_frame">
            <div class="main_post_class" style="border:thin">
                <div class="frame">
                <div class = "border">
                    <div class = "contact_content"><p>customer inquiries: hello@whatgoes.com
                        <br><br><br>press inquiries: press@whatgoes.com 
                        <br><br><br>brand inquiries: brands@whatgoes.com</p>
                    </div>
                </div>  
                </div>    
        </div> 
    </div>
        <a href='/ControlPanel'>control panel</a>
        </div>   
    </body>
</html>